.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    background-color: antiquewhite;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e1d3c1;
  }
